.logon-container{
    width: 100%; /*largura de 100%*/
    max-width: 1120px; /*largura maxima*/
    height: 100vh; /*altura do corpo todo*/
    margin: 0 auto; /*mantem o conteudo centralizado*/

    display: flex; /*padrão flex = um ao lado do outro, ao menos que utilize flex-direction*/
    align-items: center; /*alinha verticalmente */
    justify-content: space-between; /*alinha horizontalmente */
}

.logon-container section.form{
    width: 100%;
    max-width: 350px; /*max-width pensando na responsividade*/
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}